<body>
    <form method="post" action="/postform">
        <label for="email">Student's email</label>
        <input type="email" name="email" value="" />
        <label for="password">New Password</label>
        <input type="text" name="password" />
    </form>
</body>